# Practice 2: Purchase Data

Using the file "Purchase_Data.csv," which contains data on purchases made at a Chinese supermarket for various products, execute the following tasks to extract information based on specific requirements.

Import pandas

In [2]:
#Write your code here
import pandas as pd

Read this csv into a dataframe called df_data

In [3]:
#Write your code here
df=pd.read_csv('Purchase_Data.csv')

Use the head() method to check that you have read in the data correctly.

In [4]:
#Write your code here
df.head()

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
2,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
3,2.020000e+11,7/15/15 12:16,G816,7070891,70401,1.0,6.0
4,2.020000e+11,7/15/15 12:16,G816,7090363,70401,1.0,6.0

Use the dtypes attribute to view how each column is stored

In [5]:
#Write your code here
df.dtypes

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

Slice the <b>first two columns</b> using .loc and store the result in a variable called result_1.

In [7]:
#Write you code here
result_1 = df.loc[:, ['invoice_number', 'invoice_time']]

Slice the <b>first two rows</b> using .loc and store the result in a variable called result_2.

In [8]:
#Write you code here
result_2 = df.loc[0:1, :]

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [11]:
#Write your code here
result_3 = df.loc[0:3, ['invoice_number', 'invoice_time', 'store_id', 'product_id', 'category_id']]

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [12]:
#Write your code here
result_4 = df.loc[[0,4,6], ['invoice_time', 'price']]

Store the number rows in a variable called num_rows.

In [13]:
#Write your code here
num_rows = df.shape[0]

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [14]:
#Write your code here
df.loc[num_rows-1, :]

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

------------------------------------------- End of Practice-------------------------------------------