# Practice 1: Salaries

Utilising the file named 'Salaries.csv,' which holds data regarding the salaries of academic staff members across different positions, perform a series of tasks to extract information according to particular requirements or answer the questions.

Import pandas

In [1]:
import pandas as pd

Read this csv into a dataframe called df

In [2]:
df = pd.read_csv('Salaries.csv')

Showing the first 20 records from the dataframe

In [3]:
print(df.head(20))

         rank discipline  phd  service gender  salary
0        Prof          B   56       49   Male  186960
1        Prof          A   12        6   Male   93000
2        Prof          A   23       20   Male  110515
3        Prof          A   40       31   Male  131205
4        Prof          B   20       18   Male  104800
5        Prof          A   20       20   Male  122400
6   AssocProf          A   20       17   Male   81285
7        Prof          A   18       18   Male  126300
8        Prof          A   29       19   Male   94350
9        Prof          A   51       51   Male   57800
10       Prof          B   39       33   Male  128250
11       Prof          B   23       23   Male  134778
12   AsstProf          B    1        0   Male   88000
13       Prof          B   35       33   Male  162200
14       Prof          B   25       19   Male  153750
15       Prof          B   17        3   Male  150480
16   AsstProf          B    8        3   Male   75044
17   AsstProf          B    4        0   Male   92000
18       Prof          A   19        7   Male  107300
19       Prof          A   29       27   Male  150500

What are the columns names?

In [4]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'gender', 'salary'], dtype='object')

What are data types of columns we have in this data frame?

In [5]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
gender        object
salary         int64
dtype: object

Select rank, gender and salary columns and display the results on screen

In [8]:
df.iloc[:,[0,4,5]]

         rank  gender  salary
0        Prof    Male  186960
1        Prof    Male   93000
2        Prof    Male  110515
3        Prof    Male  131205
4        Prof    Male  104800
..        ...     ...     ...
73       Prof  Female  105450
74  AssocProf  Female  104542
75       Prof  Female  124312
76       Prof  Female  109954
77       Prof  Female  109646

[78 rows x 3 columns]

Write the selected columns from the previous task to a new csv file called selected_salaries.csv

In [9]:
df.iloc[:,[0,4,5]].to_csv('selected_salaries.csv')

-------------------------------End of Practice 1 --------------------------------------